<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <script src="../js/reset.js"></script>
    <title>Восстановление пароля</title>
</head>
<body>

<div class="main">
    <div class="container">
        <div class="header-line">

            

        </div>

        <div class="form-container">
            <form class="registration">

                <h2 class="instructions-header">Восстановление пароля</h2>
                <p id="error-input"></p>

                <div class="form-group-container">

                    <div class="form-group">
                        <input type="password" id="password1" name="password" required placeholder="Ваш новый пароль">
                    </div>

                    <div class="form-group">
                        <input type="password" id="password2" name="password" required placeholder="Подтвердите пароль">
                    </div>
                </div>



                <button type="button" onclick="resetPassword()">Изменить пароль</button>
            </form>

        </div>

    </div>
</div>


</body>
</html>